.change-password-top{
    height: 100vh;
}

.password-inputs{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    /* background-color: rgba(127, 255, 212, 0.285); */
}

.password-inputs >input {
    margin: 15px 0;
}

.password-inputs >div{
    display: flex;
    width: 80%;
    margin-left: 12%;
}

@media screen and (max-width:740px) {
    .password-inputs{
        width: 80%;
    }
}

@media screen and (max-width:500px)
{
    .password-inputs >div{
        font-size: small;
    }
}

#change-password-btn{
    padding: 8px 8px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(11, 188, 11, 0.584);
    font-weight: 750;
    filter: brightness(70%);
}

#change-password-btn:hover{
    filter: brightness(99%);
}

.toggle-password:hover{
        cursor: pointer;
}

#old-password{
    position: fixed;
    z-index: 1;
    right :12%;
    top:14%;
}

#confirm-password{
    position: fixed;
    z-index: 1;
    right :12%;
    top:74%;
}

#new-password{
    position: fixed;
    z-index: 1;
    right :12%;
    top:44%;
}