.forget-password-main {
    height: 100vh;
}


.login-container1 {
    background-color: white;
    /* background-color: brown; */
    width: 30em;
    height: 15em;
    /* position:  relative; */
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#forget-password-hor-line {
    background-color: black;
    height: 2px;
    width: 100%;
}

.align-left-email{
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* background-color: brown; */
    width: 80%;
}

#send-btn-email{
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-weight: 800;
    font-size: medium;
    background-color: rgba(5, 145, 5, 0.785);
}

#send-btn-email:hover{
    background-color: rgba(23, 195, 23, 0.571);
}

@media screen and (max-width:600px) {
    #heading-size{
            font-size: medium;
    }

    .align-left-email{
        font-size: small;
    }

    #send-btn-email{
        padding: 4px 6px;
        width: 100%;
        font-weight: 600;
        font-size: small;      
    }

}